{% trans_default_domain 'GlavBundle' %}
{% extends 'GlavBundle::layoutAdmin.html.twig' %}

{% block infoUserTop %}
    
    <h1>Registrar Servicio5</h1>
     
      <input type="button" id="enviar" name="enviar" value="Agregar Vehiculo">


    <div id="vehiculo" name="vehiculo" style="display:none">
      
       <form id="form" name="form">
           
                <input type="text" id="matriculaAutomotor" name="matriculaAutomotor">

                <input type="button" id="guardar" name="guardar" value="Guardar">
                    <input type="button" id="prueba" name="prueba" value="prueba">

                </br>  </br>
            </form>
    
  </div>
    
    {{ form(form) }}


        <ul class="record_actions">
    <li>
        <a href="{{ path('servicio') }}">
            Volver a la Lista de Servicios

        </a>
    </li>
</ul>



{% endblock %}


